<details class="nhsuk-details nhsuk-expander">
    <summary class="nhsuk-details__summary">
        <span class="nhsuk-details__summary-text">
            Why do I need to provide a qualifying work email address?
        </span>
    </summary>
    <div class="nhsuk-details__text">
        <p>
            Providing a qualifying work email address will help us to determine which resources can be made available to you.
        </p>
        <div>
            <p>Examples of qualifying email addresses include:</p>
            <ul class="nhsuk-list nhsuk-list--bullet">
                <li>any NHS email address (including those from Wales, Scotland and Northern Ireland)</li>
                <li>any healthcare / student email address</li>
                <li>@@hscni.net</li>
                <li>@@gov.uk</li>
                <li>@@ac.uk</li>
            </ul>
        </div>
    </div>
</details>