@model LearningHub.Nhs.WebUI.Models.Account.PasswordValidateViewModel

@{
    ViewData["DisableValidation"] = true;
    ViewData["Title"] = "Account - Change password";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="bg-white">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-back-link nhsuk-u-padding-bottom-3 nhsuk-u-padding-top-3">
        </div>
        <form asp-controller="Account" asp-action="ChangePassword" method="post">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
                    @if (errorHasOccurred)
                    {
                        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.NewPassword),nameof(Model.PasswordConfirmation) })" />
                    }

                    <h1 class="nhsuk-heading-xl">Create your new password</h1>
                    <label class="nhsuk-label" for="professionalBody">Enter your  password</label>
                    <div class="nhsuk-hint nhsuk-u-padding-bottom-5" id="contact-hint">
                        <p>Your new password must have:</p>
                        <ul>
                            <li>a minimum of 8 characters or more</li>
                            <li>at least 1 number </li>
                            <li>1 UPPERCASE letter</li>
                            <li>1 lower case letter and</li>
                            <li>1 symbol (e.g. &*%)</li>
                        </ul>
                    </div>
                    <div>
                        <p class="nhsuk-hint">Your password must be different to the username you received by email.</p>
                        <vc:text-input asp-for="NewPassword"
                                       label=""
                                       populate-with-current-value="false"
                                       type="password"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete=""
                                       css-class="nhsuk-u-width-one-half"
                                       required="true"
                                       required-client-side-error-message="Enter your new password" />
                        <vc:text-input asp-for="PasswordConfirmation"
                                       label="Confirm your password"
                                       populate-with-current-value="false"
                                       type="password"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete=""
                                       css-class="nhsuk-u-width-one-half"
                                       required="true"
                                       required-client-side-error-message="Enter your password again" />

                    </div>
                    <input type="hidden" name="Username" asp-for="@Model.Username" />
                    <input type="hidden" name="Token" asp-for="@Model.Token" />
                    <input type="hidden" name="LocToken" asp-for="@Model.Loctoken" />


                    <div class="nhsuk-u-padding-bottom-5">
                        <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                            Continue
                        </button>
                    </div>
                </div>
            </div>
        </form>
    </div>
</div>