
@using LearningHub.Nhs.WebUI.Models.Account
@using Microsoft.Extensions.Options;
@using LearningHub.Nhs.WebUI.Configuration;
@model EmailValidateViewModel;
@inject IOptions<Settings> settings

@{
    ViewData["Title"] = "Email Verification";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
    bool returnToConfirmation = false;
    if (!string.IsNullOrWhiteSpace(Context.Request.Query["returnToConfirmation"]))
    {
        bool.TryParse(Context.Request.Query["returnToConfirmation"].ToString(), out returnToConfirmation);
    }
    else
    {
        bool.TryParse(Model.ReturnToConfirmation.ToString(), out returnToConfirmation);
    }
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/createaccount.css" asp-append-version="true" />
}
 <div class="create-account">
<div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full @(returnToConfirmation ? "nhsuk-u-padding-top-7":string.Empty)">
                 @if (!returnToConfirmation)
                {
                    <vc:back-link asp-controller="Account" asp-action="CreateAccountRegistrationInformation" link-text="Back to: What you need to set up an account" />
                }
                @if (errorHasOccurred)
                {
                    <vc:error-summary order-of-property-names="@(new[] { nameof(Model.Email) })" />
                }
            <h1 class="nhsuk-heading-xl">Create an account</h1>
            <div class="nhsuk-inset-text nhsuk-u-margin-top-4 nhsuk-u-margin-bottom-7">
                <span class="nhsuk-u-visually-hidden">Information: </span>
                <p>Providing a work email address will ensure your registration receives the appropriate access.</p>
            </div>
           <form class="nhsuk-u-margin-bottom-2" asp-controller="Registration" asp-action="CreateAccountEmailVerification" method="post">
                <input type="hidden" name="formSubmission" value="true">
               
                        <vc:text-input asp-for="Email"
                                       label="Enter your email address"
                                       populate-with-current-value="true"
                                       type="text"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete="off"
                                       css-class="nhsuk-u-width-one-half"
                                       required="true"
                                   required-client-side-error-message="You need to enter your email address" />


                        <vc:text-input asp-for="ComfirmEmail"
                                       label="Confirm your email address"
                                       populate-with-current-value="true"
                                       type="text"
                                       spell-check="false"
                                       hint-text=""
                                       autocomplete="off"
                                       css-class="nhsuk-u-width-one-half"
                                       required="true"
                                   required-client-side-error-message="You need to enter your email address" />
                <input type="hidden" name="returnToConfirmation" value="@returnToConfirmation.ToString()">
                <button class="nhsuk-button" type="submit">Continue</button>

            </form>
            <partial name="_QualifyingWorkEmailAddress"></partial>
            <p class="nhsuk-body-s nhsuk-u-margin-bottom-9">
                    <a href="@(settings.Value.SupportUrls.WhoCanAccessTheLearningHub)" target="_blank">Who can access the Learning Hub?</a>
            </p>
        </div>
    </div>
</div>
</div>