@using LearningHub.Nhs.WebUI.Models.Account
@using Microsoft.Extensions.Options;
@using LearningHub.Nhs.WebUI.Configuration;
@inject IOptions<Settings> settings
@model ForgotPasswordViewModel;

@{
    ViewData["DisableValidation"] = true;
    ViewData["Title"] = "ForgotPassword";
    var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="forgot-password">
    <div class="nhsuk-width-container app-width-container">
        <vc:back-link asp-controller="Home" asp-action="Index" link-text="Back to: The Learning Hub" />
        <form asp-controller="Account" asp-action="ForgotPassword" method="post">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full nhsuk-u-padding-bottom-5">
                    @if (errorHasOccurred)
                    {
                        <vc:error-summary order-of-property-names="@(new[] { nameof(Model.EmailAddress) })" />
                    }
                    <h1 class="nhsuk-heading-xl">Forgotten your username or password</h1>
                    <p class="nhsuk-body nhsuk-u-reading-width">
                        To retrieve your username or reset your password, enter your email address below and select Continue.
                    </p>
                    <vc:text-input asp-for="EmailAddress"
                                    label="Enter your email address"
                                    populate-with-current-value="true"
                                    type="text"
                                    spell-check="false"
                                    hint-text=""
                                    autocomplete="email"
                                    css-class="nhsuk-u-width-one-half"
                                    required="true"
                                    required-client-side-error-message="You need to enter your email address" />
                    <button class="nhsuk-button" type="submit">Continue</button>
                    <p class="nhsuk-u-margin-bottom-9">
                        <a href="@(settings.Value.SupportUrls.WhoCanAccessTheLearningHub)" target="_blank">Who can access the Learning Hub?</a>
                    </p>
                </div>
            </div>
        </form>
    </div>
</div>