@{
    ViewData["Title"] = "Profile";
}
@section styles {

}

<div id="profilecontainer" v-cloak>
    <profile></profile>
</div>

@section Scripts{
    <script type="text/javascript" src="~/js/bundle/profilecontainer.js"></script>
}
