<div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">
        <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Video and audio unavailable
        </span>
    </h3>
    <p>The video and audio upload and streaming services on the Learning Hub platform are temporarily unavailable. We are working to resolve this as quickly as possible.</p>
</div>
