<div role="navigation" aria-label="Footer Navigation">
    <div class="footer-primary">
        <div class="row">
            <div class="col" style="min-width:320px;">
                <ul>
                    <li><a href="@Url.Action("Index", "Home")"><img src="~/images/NHS-white.svg" alt="NHS" class="logo" /></a></li>
                </ul>
                <h4 class="footer-sub-title">Learning Hub</h4>
            </div>
            <div class="col footer-copy-right" >
                <span>&copy; NHS England</span>
            </div>
        </div>
    </div>    
</div>