################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/LearningHub.Nhs.WebUI/bin/Debug/netcoreapp2.2
/LearningHub.Nhs.WebUI/node_modules
/LearningHub.Nhs.WebUI/wwwroot/css
/LearningHub.Nhs.WebUI/obj
/LearningHub.Nhs.WebUI/Properties/launchSettings.json
/LearningHub.Nhs.WebUI/LearningHub.Nhs.WebUI.csproj.user
/LearningHub.Nhs.WebUI/internal-nlog-*.txt
/LearningHub.Nhs.WebUI/bin/Release/netcoreapp2.2
/node_modules
/LearningHub.Nhs.WebUI/.vs
/LearningHub.Nhs.WebUI/bin/IISSupport/pidfile.txt
/LearningHub.Nhs.WebUI/bin/IISSupport/VSIISExeLauncher.exe
/LearningHub.Nhs.WebUI/web.config
/LearningHub.Nhs.WebUI/bin/IISSupport
/LearningHub.Nhs.WebUI/wwwroot/js/bundle/
/LearningHub.Nhs.WebUI/appsettings.Development.json
/LearningHub.Nhs.WebUI/Properties/PublishProfiles/drj-LearningHub-WebUI - Web Deploy.pubxml.user
/LearningHub.Nhs.WebUI/Properties/PublishProfiles/drj-LearningHub-WebUI - Web Deploy.pubxml
/LearningHub.Nhs.WebUI/.config/dotnet-tools.json
/LearningHub.Nhs.WebUI/Views/Contribute/MyContributions - Copy.cshtml
bin
obj
/LearningHub.Nhs.WebUI/wwwroot/LearningSessions/scorm/c51a8115-6c62-4be5-9645-7d44c3f2815d

# Custom additions
/.idea
/LearningHub.Nhs.WebUI/yarn-error.log
/.cache_ggshield
/AdminUI/LearningHub.Nhs.AdminUI/appsettings.Development.json
/AdminUI/LearningHub.Nhs.AdminUI/node_modules
/AdminUI/LearningHub.Nhs.AdminUI/web.config
/AdminUI/LearningHub.Nhs.AdminUI/internal-nlog-lhadminui.txt
/WebAPI/LearningHub.Nhs.API/internal-nlog-lhapi.txt
/WebAPI/LearningHub.Nhs.API/web.config
/AdminUI/LearningHub.Nhs.AdminUI/yarn.lock
/AdminUI/LearningHub.Nhs.AdminUI/Properties/launchSettings.json
/AdminUI/LearningHub.Nhs.AdminUI/web.config
/AdminUI/LearningHub.Nhs.AdminUI/Properties/launchSettings.json
/WebAPI/LearningHub.Nhs.API/Properties/launchSettings.json
/WebAPI/LearningHub.Nhs.API/appsettings.Development.json
/WebAPI/LearningHub.Nhs.Database/LearningHub.Nhs.Database.dbmdl
/WebAPI/LearningHub.Nhs.Database/LearningHub.Nhs.Database.jfm
/WebAPI/MigrationTool/LearningHub.Nhs.Migration.Staging.Database/LearningHub.Nhs.Migration.Staging.Database.dbmdl
/WebAPI/MigrationTool/LearningHub.Nhs.Migration.Staging.Database/LearningHub.Nhs.Migration.Staging.Database.jfm
/LearningHub.Nhs.WebUI.AutomatedUiTests/appsettings.Development.json
/OpenAPI/LearningHub.Nhs.OpenApi/appsettings.Development.json
/OpenAPI/LearningHub.Nhs.OpenApi/web.config
/AdminUI/LearningHub.Nhs.AdminUI/LearningHub.Nhs.AdminUI.csproj.user
/WebAPI/LearningHub.Nhs.API/LearningHub.Nhs.Api.csproj.user
/ReportAPI/LearningHub.Nhs.ReportApi/web.config
/MessageQueueing/LearningHub.Nhs.MessageQueueing.Database/LearningHub.Nhs.MessageQueueing.Database.dbmdl
/MessageQueueing/LearningHub.Nhs.MessageQueueing.Database/LearningHub.Nhs.MessageQueueing.Database.jfm