<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" />
		<add key="LearningHubFeed" value="https://pkgs.dev.azure.com/e-LfH/_packaging/LearningHubFeed/nuget/v3/index.json" />
	</packageSources>

	<packageSourceMapping>
		<packageSource key="nuget.org">
			<package pattern="*" />
		</packageSource>
		<packageSource key="LearningHubFeed">
			<package pattern="elfhHub.Nhs.*" />
			<package pattern="LearningHub.*" />
			<package pattern="NHSUKViewComponents*"/>
			<package pattern="UK.NHS.CookieBanner*"/>
			<package pattern="GDS.MultiPageFormData*"/>
		</packageSource>
	</packageSourceMapping>
</configuration>
