@use "../abstracts/all" as *;

.no-wrap {
  white-space: nowrap;
}

.loading-title {
  margin-top: 50px;

  @media(max-width: 768px) {
    margin-top: 40px;
  }
}

@media (max-width: 1032px) and (min-width: 951px) {
  .header-title {
    font-size: 2.5rem;
    min-width: 200px;
  }

  .header-beta {
    font-size: 1.3rem;
  }

  .nav-item {
    width: 90px;
  }
}

@media (max-width: 950px) and (min-width: 768px) {
  .header-title {
    font-size: 1.6rem;
    min-width: 130px;
  }

  .header-beta {
    font-size: 1.0rem;
  }
}

@media (max-width: 950px) and (min-width: 835px) {
  .nav-item {
    width: 86px;
  }

  .nav-item.large {
    width: 100px !important;
  }

  .nav-item.larger {
    width: 125px !important;
  }

  .header-main {
    height: 102px;
  }
}

h2.heading {
  font-size: 32px;
  line-height: 40px;
  font-weight: 700;
}

/* Note: Add this to an empty div to force next flexbox item to break onto a new line. */
.flex-break {
  flex-basis: 100%;
  width: 0px;
  height: 0px;
  overflow: hidden;
  display: inline-block;
}

.download-descriptor {
  margin-top: 10px;
  font-size: 16px;
  padding: 0 20px;
  line-height: 28px;
  max-width: 600px;
}

.visually-hidden {
  position: absolute !important;
  height: 1px;
  width: 1px;
  overflow: hidden;
  clip: rect(1px, 1px, 1px, 1px);
}

html {
  position: relative;
  color: $nhsuk-black;
  background-color: $nhsuk-grey-white;
}

body {
  font-family: $font-stack;
  color: $nhsuk-black;
}

#maincontent {
    display:flex;
    flex-direction:column;
  flex: auto; // Grow to fill screen if content is short. Prevents footer appearing half way up screen. Works in conjunction with .container-fluid.
}

.text-danger {
  color: $nhsuk-red !important;
}

.text-warning {
  color: $nhsuk-warm-yellow !important;
}

.text-hint {
  display: block;
  color: $nhsuk-grey;
  font-size: 1.6rem;
  margin-top: -7px;

  @media(max-width: 768px) {
    font-size: 1.4rem;
  }
}

[v-cloak] {
  display: none
}

a {
  text-decoration: underline;
  color: $nhsuk-blue;
}

.hyperlink {
  text-decoration: underline;
  color: $nhsuk-blue;
  cursor: pointer;
}

.container-fluid {
  background-color: $nhsuk-grey-white;
  margin: 0;
  padding: 0;
  min-height: 100vh; // Grow to fill screen if content is short. Prevents footer appearing half way up screen. Works in conjunction with #maincontent.
  display: flex;
  flex-direction: column;
}

.bg-grey-white {
  background-color: $nhsuk-grey-white;
}

.panel-container {
  max-width: 1180px;
  margin: 0 auto 0;
}

.panel {
  @include panel-mixin(570px);
}

.heading-xl {
  font-size: 4.8rem;
}

.heading-lg {
  font-size: 3.2rem;
}

.heading-md {
  font-size: 2.4rem;
}

.heading-sm {
  font-size: 2.2rem;
}

.heading-xs {
  font-size: 1.9rem;
}

.small {
  font-size: 1.6rem;
}

.extra-small {
  font-size: 1.4rem;
}

.form-control {
    font-size: 16px;
    height: calc(1.5em + 0.75rem + 9px);
    padding: 3.75px 7.5px;
}

.warning {
  color: #DA291C;
}

#{headings(1,6)} {
  font-family:Frutiger W01,Arial,Sans-serif;
}

.table-borderless-header {
  th {
    border-top-color: transparent !important;
    border-left-color: transparent !important;
    border-right-color: transparent !important;
    border-bottom-width: 1px !important;
  }
}

.layout-container-white {
  background-color: white;
  flex: 1 0
}

.offline-ribbon {
  text-align: center;
}

p.heading {
  font-weight: 700;
}

.pagetimestamp {
  font-size: 1.7rem;
  color: $nhsuk-grey-placeholder;
}

@media (max-width: 768px) {
  .heading-xl {
    font-size: 3.2rem !important;
  }

  .heading-lg {
    font-size: 2.4rem !important;
  }

  .heading-md {
    font-size: 2rem !important;
  }

  .heading-sm {
    font-size: 1.8rem !important;
  }

  .heading-xs {
    font-size: 1.6rem !important;
  }

  .header-main {
    height: 90px;
  }

  .header-title {
    font-size: 1.5rem;
    min-width: 120px;
  }

  .header-beta {
    font-size: 1rem;
  }

  .hide-if-mobile {
    display: none !important;
  }

  .author {
    color: $nhsuk-black;
  }

  .previous-nav-link {
    font-size: 1.4rem;
  }
}

.no-bold {
  font-family: $font-stack;
}

@media (max-width: 768px) {
 
  .small {
    font-size: 1.4rem;
  }

  .container-fluid {
    background-color: $nhsuk-grey-white;
  }
}

input:required:invalid, input:focus:invalid {
    border-color: #dc3545;
    background-color: pink !important;
}

.field-validation-error {
    color: #dc3545;
}

.line-clamp-1 {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: 1;
    -webkit-box-orient: vertical;
}

.line-clamp-2 {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: 2;
    -webkit-box-orient: vertical;
}

.line-clamp-3 {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}
.line-clamp-5 {
    display: -webkit-box !important;
    overflow: hidden;
    -webkit-line-clamp: 5;
    -webkit-box-orient: vertical;
}
.search-box-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: 100%;
}

.search-box {
    -webkit-appearance: none;
    flex: 1;
    padding: 0 13px;
}
.nhsuk-search__submit__green {
    border: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 4px;
    border-top-left-radius: 0;
    border-top-right-radius: 4px;
    float: right;
    font-size: inherit;
    line-height: inherit;
    outline: none;
    padding: 0;
}
.nhsuk-search__submit__green {
    background-color: $nhsuk-green;
    display: block;
    height: 40px;
    width: 44px;

    &:focus {
        background-color: #ffeb3b;
        border: 0;
        box-shadow: 0 4px 0 0 #212b32;
        color: #212b32;
        outline: 4px solid rgba(0,0,0,0);
        outline-offset: 4px;
        box-shadow: 0 -2px #ffeb3b,0 4px #212b32
    }
}

.nhsuk-icon__search__green {
    height: 27px;
    width: 27px;
    fill: $nhsuk-white;
}
.validation-summary-valid {
    display: none;
}

.field-validation-valid {
    display: none !important;
}

i {
    color: #4C6272;
}
