@using LearningHub.Nhs.WebUI.Models.DashBoard;
@model DashBoardPagingViewModel;
@{
    var pagingModel = Model;
    var previousUrl = $"/home/loadpage/{@pagingModel.DashboardTrayLearningResourceType}/{@pagingModel.DashboardTrayType}/{@pagingModel.MyLearningDashboard}/{@pagingModel.ResourceDashboard}/{@pagingModel.CatalogueDashboard}/{@Model.PreviousPage}";
    var nextUrl = $"/home/loadpage/{@pagingModel.DashboardTrayLearningResourceType}/{@pagingModel.DashboardTrayType}/{@pagingModel.MyLearningDashboard}/{@pagingModel.ResourceDashboard}/{@pagingModel.CatalogueDashboard}/{@Model.NextPage}";
    var queryParams = $"/?dashboardTrayLearningResourceType={@pagingModel.DashboardTrayLearningResourceType}&myLearningDashboard={@pagingModel.MyLearningDashboard}&resourceDashboard={@pagingModel.ResourceDashboard}&catalogueDashboard={@pagingModel.CatalogueDashboard}#{@pagingModel.DashboardTrayType}";
}

<nav class="nhsuk-u-width-full display--no-js-hide" role="navigation" aria-label="Pagination">
    <ul class="nhsuk-list nhsuk-pagination__list dashboard-paging">
        <li class="nhsuk-u-text-align-left">
            @if (pagingModel.CurrentPage > 1)
            {
                <a class="nhsuk-u-text-align-left" onclick="return loadPage('@pagingModel.DashboardTrayType', '@previousUrl', '@queryParams')" href="#" aria-label="previous">
                    <svg class="nhsuk-icon nhsuk-icon__arrow-left nhsuk-u-font-size-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="18" height="18">
                        <path d="M4.1 12.3l2.7 3c.2.2.5.2.7 0 .1-.1.1-.2.1-.3v-2h11c.6 0 1-.4 1-1s-.4-1-1-1h-11V9c0-.2-.1-.4-.3-.5h-.2c-.1 0-.3.1-.4.2l-2.7 3c0 .2 0 .4.1.6z"></path>
                    </svg>
                    <span class="nhsuk-u-font-size-16">Previous</span>
                </a>
            }
        </li>
        <li class="nhsuk-u-text-align-centre nhsuk-u-padding-left-10 nhsuk-u-padding-right-10">@pagingModel.DisplayMessage</li>
        <li class="nhsuk-u-text-align-right">
            @if (pagingModel.CurrentPage < pagingModel.TotalPages)
            {
                <a class="nhsuk-u-text-align-right" onclick="return loadPage('@pagingModel.DashboardTrayType', '@nextUrl', '@queryParams')" href="#" aria-label="next">
                    <span class="nhsuk-u-font-size-16">Next</span>
                    <svg class="nhsuk-icon nhsuk-icon__arrow-right nhsuk-u-font-size-16" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" width="18" height="18">
                        <path d="M19.6 11.66l-2.73-3A.51.51 0 0 0 16 9v2H5a1 1 0 0 0 0 2h11v2a.5.5 0 0 0 .32.46.39.39 0 0 0 .18 0 .52.52 0 0 0 .37-.16l2.73-3a.5.5 0 0 0 0-.64z"></path>
                    </svg>
                </a>
            }
        </li>
    </ul>
</nav>
