@using LearningHub.Nhs.Models.Enums;

<div class="dashboardTray">
    <h2>You might also be interested in</h2>

    <ul class="nhsuk-grid-row nhsuk-card-group">
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" asp-controller="Dashboard" asp-action="RecordDashboardNavigation" asp-route-eventType="@EventTypeEnum.DashBoardElfh"
                           asp-route-url="/catalogue/pathologyportal">The Pathology Portal</a>
                    </h2>
                    <p class="nhsuk-card__description">
                        Developed for pathology trainees and practising pathologists, the portal features innovative and interactive
                        short modules to support training curricula and CPD from world class faculty.
                    </p>
                </div>
            </div>
        </li>
        <li class="nhsuk-grid-column-one-half nhsuk-card-group__item">
            <div class="nhsuk-card">
                <div class="nhsuk-card__content">
                    <div class="bmj-best-practice-logo-border">
                        <div class="bmj-best-practice-logo-image"></div>
                    </div>
                    <h2 class="nhsuk-card__heading nhsuk-heading-m">
                        <a class="nhsuk-card__link" asp-controller="Dashboard" asp-action="RecordDashboardNavigation" asp-route-eventType="@EventTypeEnum.DashBoardBmj"
                           asp-route-url="https://www.bmj.com/company/hee/">BMJ Best Practice</a>
                    </h2>
                    <p class="nhsuk-card__description">
                        This tool uses the latest evidence-based research, guidelines and expert opinion to offer step-by-step guidance on diagnosis, prognosis, treatment and prevention.
                    </p>
                </div>
            </div>
        </li>
    </ul>
</div>


