@{
    ViewData["Title"] = "Learning Hub - Home";
}
<div>
    <div class="dashboard dashboard-all-catalogues">       
        <div class="lh-padding-fluid">            
            <div id="cataloguesList">
                <catalogues-list></catalogues-list>
            </div>
        </div>
    </div>
</div>
@section Scripts{    
    <script src="~/js/bundle/catalogueslistcontainer.js"></script>
    <script type="text/javascript">
        $(function () {
           
        });
    </script>
}
