@{
    ViewData["Title"] = "Generic Tray";
}

@section styles {
   @*  <link href="https://amp.azure.net/libs/amp/2.3.10/skins/amp-default/azuremediaplayer.min.css" type="text/css" rel="stylesheet" asp-append-version="true" /> *@
}

<div id="activitytray">
    <traycomp v-bind:cards="cards" v-bind:title="title"></traycomp>
</div>

@section Scripts{

    @* <script type="text/javascript" src="https://amp.azure.net/libs/amp/2.3.10/azuremediaplayer.min.js"></script> *@
    <script type="text/javascript" src="~/js/bundle/tray.js" asp-append-version="true"></script>
    <script type="text/javascript" src="~/js/mediaPlayerInit.js" asp-append-version="true"></script>
    <script type="text/javascript">
        replaceExistingPlayerObj = true;           
    </script>

}