@using LearningHub.Nhs.WebUI.Models
@model LandingPageViewModel
@inject Microsoft.Extensions.Options.IOptions<LearningHub.Nhs.WebUI.Configuration.Settings> options
@{
    ViewData["Title"] = "Learning Hub - Home";
    // OpenAthens url needs to makes sure that the return to WebUI first hits the authorisationrequired endpoint,
    // which contains it's own redirect to within the UI.
    // If a return url is specified we want to use it for the authorisationrequired original url
    // Otherwise we just redirect back to the index page
    var returnUrl = (string)Url.ActionContext.HttpContext.Request.Query["returnUrl"];
    var authRequiredReturnUrl = returnUrl == null
        ? Url.Action("AuthorisationRequired", "Account", new { originalUrl = "/" }, "https")
        : Url.Action("AuthorisationRequired", "Account", new { originalUrl = returnUrl }, "https");
    var openAthensSignOnUrl = Url.Action("Login", "OpenAthens", new { returnUrl = authRequiredReturnUrl, invalidScope = false });
    var whoCanAccess = options.Value.SupportUrls.WhoCanAccessTheLearningHub;
}

@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/landing_page.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/information_page.css" asp-append-version="true" />
    @*  <link href="https://amp.azure.net/libs/amp/2.3.10/skins/amp-default/azuremediaplayer.min.css" type="text/css" rel="stylesheet" /> *@
}


<div class="">
    <div class="landing-page__access-container">
        <div class="nhsuk-width-container app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-one-half">
                    <img src="" />
                </div>
                <div class="nhsuk-grid-column-one-half landing-page--login-tray">
                    <h2>Start learning today</h2>
                    <p>
                        Specialist healthcare learning and development in one place.
                    </p>
                    <div class="nhsuk-button-group nhsuk-button-group--small">
                        <a asp-controller="SimplifiedRegistration" asp-action="CreateAnAccount" class="nhsuk-button nhsuk-button--beta-login">Create an account</a>
                        <a asp-controller="Login" asp-action="Index" class="nhsuk-button nhsuk-button--reverse landing-page--btn-login">Log in</a>
                    </div>
                    <div class="nhsuk-u-margin-top-5">
                        <a class="nhsuk-link landing-page--link" href="/forgotten-password">Forgotten username or password</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div id="cmsPage">
        <partial name="_CmsPageRow" model="@Model" />
    </div>

</div>