@{
    ViewData["Title"] = "Learning Hub - Session Timeout";
}

<div class="m-35 p-35 text-center bg-white">
    <i class="fa-solid fa-triangle-exclamation text-warning display-4 mt-4 mb-1"></i>    
    <h1 class="nhsuk-heading-xl">Your session has timed out</h1>
    <p>There’s been no activity for @ViewBag.AuthTimeout minutes. You will need to log in again to continue.</p>
    <p><a asp-controller="Account" asp-action="AuthorisationRequired" asp-route-originalurl="@ViewBag.ReturnUrl">Log in</a> to the Learning Hub</p>
</div>