CREATE PROCEDURE [dbo].[proc_UpdateLastSyncTimeAdf]
  @SyncDirection VARCHAR(50),
  @TableName VARCHAR(100),
  @NewSyncTime DATETIME
AS
BEGIN
  UPDATE ADFSyncMetadata
  SET LastSyncTime =  ISNULL(@NewSyncTime, LastSyncTime)
  WHERE SyncDirection = @SyncDirection
    AND TableName = @TableName;
END