<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Info"
      internalLogFile="c:\temp\internal-nlog-AspNetCore.txt">

    <extensions>
        <!-- enable asp.net core layout renderers -->
        <add assembly="NLog.Web.AspNetCore"/>
        <add assembly="Microsoft.ApplicationInsights.NLogTarget" />
    </extensions>

    <targets>
        <target xsi:type="Console" name="appConsole" layout="${level:truncate=4:tolower=true}: ${logger}[0]${newline}      ${message}${exception:format=tostring}" />
        <target type="ApplicationInsightsTarget" name="appInsightsTarget">
            <!-- Instrumentation key is configured programmatically using key from app settings. -->
            <contextproperty name="threadid" layout="${threadid}" />
        </target>
        <target name="database" xsi:type="Database" >
            <connectionString>${configsetting:name=ConnectionStrings.NLogDb}</connectionString>
            <commandText>
                exec hub.InsertLog
                @Application,
                @Logged,
                @Level,
                @Message,
                @Logger,
                @Callsite,
                @Exception,
                @UserId
            </commandText>
            <parameter name="@application" layout="LearningHub.Nhs.OpenApi" />
            <parameter name="@logged" layout="${date}" />
            <parameter name="@level" layout="${level}" />
            <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />
            <parameter name="@logger" layout="${logger}" />
            <parameter name="@callSite" layout="${callsite:filename=true}" />
            <parameter name="@exception" layout="${exception:tostring}" />
            <parameter name="@userid" layout="${event-properties:lhuserid}" />
        </target>
    </targets>

    <rules>
        <logger name="*" minlevel="Trace" writeTo="appConsole" />

        <!-- Skip non-critical Microsoft logs and so log only own logs to Application Insights -->
        <logger name="Microsoft.Hosting.Lifetime" maxlevel="Info" final="true" />
        <logger name="System.Net.Http.*" maxlevel="Info" final="true" />

        <logger name="*" minlevel="Trace" writeTo="appInsightsTarget" />

        <logger name="*" minlevel="Error" writeTo="database" />
    </rules>
</nlog>
