@using Microsoft.Extensions.Options;
@using LearningHub.Nhs.WebUI.Configuration;
@using LearningHub.Nhs.WebUI.Helpers;
@inject IOptions<Settings> settings

@model NavigationModel

<!-- start Mobile nav -->
@* @if (!Model.ShowHelp)
{
    <a class="nhsuk-account__login--link" href="@(settings.Value.SupportUrls.SupportSite)" target="_blank">Help</a>
} 

else
{*@

@if (Model.ShowMyAccount || Model.ShowSignOut)
{
    <div class="nhsuk-account__myaccount">
        <div class="nhsuk-account__icon-wrapper">
            <svg xmlns="http://www.w3.org/2000/svg" width="26" height="26" viewBox="0 0 26 26" fill="none">
                <g clip-path="url(#clip0_5102_1890)">
                    <path d="M12.9984 14.7859C10.4797 14.7859 8.36719 12.7547 8.36719 10.1547C8.36719 7.55469 10.3984 5.52344 12.9984 5.52344C15.5172 5.52344 17.6297 7.55469 17.6297 10.1547C17.6297 12.7547 15.5172 14.7859 12.9984 14.7859Z" fill="white" />
                    <path d="M13 0C5.85 0 0 5.85 0 13C0 20.15 5.85 26 13 26C20.15 26 26 20.15 26 13C26 5.85 20.15 0 13 0ZM19.5813 22.3438V21.125C19.5813 18.2812 17.55 16.0063 14.95 16.0063H11.05C8.53125 15.925 6.5 18.2812 6.5 21.125V22.425C1.3 18.7688 0 11.6188 3.65625 6.5C7.3125 1.38125 14.3812 0 19.5 3.65625C24.6187 7.3125 26 14.3812 22.3438 19.5C21.6125 20.6375 20.6375 21.6125 19.5813 22.3438Z" fill="white" />
                </g>
                <defs>
                    <clipPath id="clip0_5102_1890">
                        <rect width="26" height="26" fill="white" />
                    </clipPath>
                </defs>
            </svg>

            @if (Model.NotificationCount > 0)
            {
                <div class="nhsuk-header__notification-dot-mobile">@NotificationDisplay()</div>
            }
        </div>

        <div class="nhsuk-account__links">
            @if (Model.ShowMyAccount)
            {
                <a class="nhsuk-account__login--link" asp-controller="Myaccount" asp-action="Index">My account</a>
            }
            @if (Model.ShowSignOut)
            {
                <a class="nhsuk-account__login--link" asp-controller="Home" asp-action="Logout">Log out</a>
            }
        </div>
    </div>
}
<div class="nhsuk-header__mobile-break"></div>
@if (Model.ShowSearch)
{
    <button class="nhsuk-header__search-toggle" id="toggle-search" aria-controls="search" aria-label="Open search">
        <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false" width="27" height="27">
            <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
        </svg>
        <span class="nhsuk-u-visually-hidden">Search</span>
    </button>
}
@* } *@

<!-- end Mobile nav -->
@functions {
    public string NotificationDisplay()
    {
        if (Model.NotificationCount < 1)
        {
            return "";
        }

        var returnString = Model.NotificationCount.ToString();

        if (Model.NotificationCount > 9)
        {
            returnString = "9+";
        }

        return returnString;

    }
}