@model LearningHub.Nhs.Models.Resource.ResourceVersionDevIdViewModel

@{
  ViewData["Title"] = "Add development Id ";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="pt-4">
  <form asp-controller="Resource" asp-action="UpdateDevIdDetails" method="post">
    <div class="row m-0">
      <div class="form-group col-4">
        <div class="col-12" style="padding-left:0px;" >
          <dl>
            <dt>Dev ID: </dt>
            <dd>
              @Html.DisplayFor(model => model.DevId)
            </dd>
          </dl>
        </div>
        <label asp-for="DevId" class="control-label">Add Dev ID</label>
        <input asp-for="DevId" class="form-control" maxlength="30" />
        <input type="hidden" asp-for="ResourceVersionId" />
      </div>
    </div>
    <div class="form-group col-lg-2 d-flex flex-row justify-content-between">
      <div>
        <button type="submit" class="btn btn-common btn-success nhsuk-button">Save</button>
      </div>
    </div>
  </form>
</div>