@model List<LearningHub.Nhs.Models.Resource.ResourceVersionEventViewModel>

    <table class="table table-striped" cellpadding="0" cellspacing="0">
        <tr>
            <th class="w-15">
                Event Type
            </th>
            <th style="width:55%">
                Details
            </th>
            <th style="width:15%">
                Create User
            </th>
            <th style="width:15%">
                Create Date
            </th>
        </tr>
        @foreach (var e in Model)
        {
            <tr>
                <td class="pl-2">
                    @e.ResourceVersionEventType.ToString()
                </td>
                <td class="pl-2">
                    @e.Details
                </td>
                <td class="pl-2">
                    @e.CreateUser
                </td>
                <td class="pl-2">
                    @e.CreateDate.DateTime
                </td>
            </tr>
        }
    </table>