<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      internalLogLevel="Warn"
      internalLogFile="internal-nlog-lhadminui.txt">
  <!-- Note - internal log file is used to log errors that arise within logging-->

  <extensions>
    <add assembly="NLog.Extensions.Logging"/>
    <add assembly="NLog.Web.AspNetCore"/>
  </extensions>
  <!-- extension necessary to obtain correct extension methods for .net core-->

  <targets async="true">

    <target name="database" xsi:type="Database" >

      <connectionString>${configsetting:name=ConnectionStrings.NLogDb}</connectionString>

      <commandText>
        exec hub.InsertLog
        @Application,
        @Logged,
        @Level,
        @Message,
        @Logger,
        @Callsite,
        @Exception,
        @UserId,
        @UserName
      </commandText>
      <parameter name="@application" layout="LearningHub.Nhs.AdminUI" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="url: ${aspnet-request-url} | action: ${aspnet-mvc-action} | ${message}" />

      <parameter name="@logger" layout="${logger}" />
      <parameter name="@callSite" layout="${callsite:filename=true}" />
      <parameter name="@exception" layout="${exception:tostring}" />
      <parameter name="@userid" layout="${mdc:item=userid}" />
      <parameter name="@username" layout="${mdc:item=username}" />
    </target>

  </targets>

  <rules>
    <!--All logs, including from Microsoft-->
    <!--
    Trace - very detailed logs, which may include high-volume information such as protocol payloads. This log level is typically only enabled during development
    Debug - debugging information, less detailed than trace, typically not enabled in production environment.
    Info - information messages, which are normally enabled in production environment
    Warn - warning messages, typically for non-critical issues, which can be recovered or which are temporary failures
    Error - error messages - most of the time these are Exceptions
    Fatal - very serious errors!
    -->

    <!--<logger name="*" minlevel="Info" writeTo="allfile" />-->

    <!--<logger name="*" minlevel="Trace" writeTo="ElasticSearch" />-->

    <logger name="*" minlevel="Error" writeTo="database" />

    <!--Skip Microsoft logs and so log only own logs-->
    <!--<logger name="Microsoft.*" minlevel="Trace" writeTo="blackhole" final="true" />-->
    <!--<logger name="*" minlevel="Info" writeTo="ownFile-web" />-->

  </rules>
</nlog>