
@{
    var supportUrl = ViewData["SupportUrl"].ToString();
}
    <h1>Catalogue not available</h1>
    <p>This catalogue is not available for you to access. If you need help, please contact the <a href="@supportUrl" target="_blank">support team.</a></p>