@model LearningHub.Nhs.WebUI.Models.UserProfile.ChangePasswordViewModel

@{
    ViewData["Title"] = "Profile - Change Password";
}

<div class="nhsuk-width-container">
    <main class="nhsuk-main-wrapper nhsuk-main-wrapper--s" id="maincontent" role="main">
        <form asp-controller="User" asp-action="ChangePassword" method="post">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-two-thirds">               
                    <h2>
                        Password details
                    </h2>          
                    <div>
                        Your password must be a minimum of 8 characters and must contain at least one numeric character, one upper case character and one lower case character. Your username and password cannot match.
                    </div>
                    <dl class="nhsuk-summary-list">
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                <label asp-for="NewPassword"></label>
                            </dt>
                            <dd class="nhsuk-summary-list__value">                               
                                <input asp-for="NewPassword" class="form-control" type="password" autocomplete="off" width="100%" required />
                                <span asp-validation-for="NewPassword"></span>
                            </dd>
                        </div>
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                <label asp-for="PasswordConfirmation"></label>
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <input asp-for="PasswordConfirmation" class="form-control" type="password" autocomplete="off" width="100%" required />
                                <span asp-validation-for="PasswordConfirmation"></span>                                
                            </dd>
                        </div>     
                        <div class="nhsuk-summary-list__row">
                            <dt class="nhsuk-summary-list__key">
                                <button type="submit" class="btn btn-custom">
                                    Save
                                </button>
                            </dt>
                            <dd class="nhsuk-summary-list__value">
                                <a asp-controller="User" asp-action="Index">Cancel</a>
                            </dd>
                        </div>
                    </dl>
                </div>
            </div>
            @Html.HiddenFor(m => m.Username)
            @Html.AntiForgeryToken()            
        </form>
    </main>
</div>