@use "../abstracts/all" as *;
@use "nhsuk" as *;


.display--hide {
    display: none !important;
}

/* large desktop */
@media (min-width: px2rem(990)) {

    .display-large-desktop--show {
        display: block !important;
    }

    .display-large-desktop--hide {
        display: none !important;
    }
}

/* desktop */
@media (min-width: px2rem(769)) {
    .display-desktop--show {
        display: block !important;
    }

    .display-desktop--hide {
        display: none !important;
    }
}

/* tablet */
@media (min-width: px2rem(641)) {
    .display-tablet--show {
        display: block !important;
    }

    .display-tablet--hide {
        display: none !important;
    }
}

/* mobile  */
.display-mobile--show {
    display: block !important;
}



.word-break__break-word {
    word-break: break-word;
}

.display__flex-space-between {
    display: flex;
    justify-content: space-between;
}



.modal-footer--buttons {
    justify-content: space-between !important;
    padding-left: 16px !important;
    padding-right: 16px !important;
    white-space: nowrap;
    margin-top: auto !important;
    margin-bottom: auto !important;
}
.btn:focus, .btn.focus {
    outline: 0;
    box-shadow: 0 0 0 0.2rem $nhsuk-yellow !important;
    background-color: $govuk-focus-highlight-yellow;
}

.accessible-link:focus {
    outline: none;
    text-decoration: none;
    color: $nhsuk-black;
    box-shadow: 0 0 0 4px $nhsuk-yellow;
}
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    white-space: nowrap;
    border: 0;
}


