@use "../abstracts/all" as *;
@use "nhsuk" as *;

body {
    overflow-wrap: break-word;
}


.app-main-wrapper--no-padding {
    padding: 0
}

.beta-banner {
    background-color: $color_nhsuk-grey-5;
    color: $nhsuk-text-color;
    padding: px2rem(8) px2rem(16);
    display: flex;
    align-items: center;
    font-family: "Frutiger W01", Arial, sans-serif;
    font-style: normal;
}

.beta-banner + div {
    border-top: 1px solid $color_nhsuk-grey-3;
}

.beta-banner__beta-box {
    background-color: $color_nhsuk-blue;
    color: $color_nhsuk-white;
    font-family: FrutigerLTW01-65Bold,Arial,sans-serif;
    height: px2rem(28);
    margin-right: px2rem(16);
    padding: px2rem(2) px2rem(12) 0;
    display: flex;
    align-items: center;
}

.beta-banner__text {
    display: inline-block;
    font-size: px2rem(16);
}

button[data-toggle="modal"] {
    color: #005eb8;
    padding: 0;
    border: none;
    background: none;

    &:focus {
        background: yellow;
        border-bottom: 4px solid;
    }
}

.autosuggestion-menu {
    padding: 16px 16px 0px 16px;
    background-color: $color_nhsuk-white;
    border-bottom: 1px solid $color_nhsuk-grey-4;
    border-radius: 0px 0px 4px 4px;
    border-left: 1px solid $color_nhsuk-grey-4;
    border-right: 1px solid $color_nhsuk-grey-4;
    box-shadow: 0px 2px 3px 0px $color_nhsuk-grey-4;
    list-style: none;
    overflow-x: hidden;
    overflow-y: auto;
    position: absolute;
    width: 100%;
    z-index: 1;
    margin-bottom: 0;
}

.autosuggestion-option {
    margin-bottom: 0;
    border-bottom: 1px solid $color_nhsuk-grey-4;
    color: $color_nhsuk-blue;
    cursor: pointer;
    font-size: 16px;
    padding-bottom: 12px;
    text-align: left;
    text-decoration: none;
}

.autosuggestion-option .autosuggestion-icon {
    fill: $color_nhsuk-grey-3 !important;
    float: left;
    height: 20px;
    margin: 2px 8px 0 0;
    width: 16px;
}

.autosuggestion-option .autosuggestion-subtext {
    color: $color_nhsuk-grey-2 !important;
    padding-left: 24px;
    margin: 0px;
}

.autosuggestion-option .autosuggestion-link {
    display: flex;
    margin-bottom: 0px;
    text-decoration: underline;
}

li.autosuggestion-option:last-of-type {
    border-bottom: none !important;
}

/* small desktop */
@media (max-width: px2rem(989)) {
    .autosuggestion-menu {
        top: 100%;
    }
}

/* tablet */
@media (max-width: px2rem(768)) {

    .autosuggestion-menu {
        top: 100%;
    }

}

/* mobile  */
@media (max-width: px2rem(640)) {
    .autosuggestion-menu {
        top: 100%;
    }
}