@import "../../node_modules/nhsuk-frontend/packages/nhsuk";

// Overrides largely due to
//     - Highly customised header
//     - Use of full browser width hero images and full width colour bands
//     - Beta banner
//
// Header customisation not needed with current frontend package
//
// - FGC 19/06/25


.nhsuk-width-container.app-width-container {
    max-width: px2rem(1208);
    margin: 0 auto;
    padding-left: px2rem(32);
    padding-right: px2rem(32);
}

// Header items
.nhsuk-header {
    padding: 0 px2rem(32);
}

.nhsuk-header .nhsuk-width-container.app-width-container {
    max-width: px2rem(1144);
    margin: 0 auto;
}

.nhsuk-width-container.app-width-container.beta-banner {
    padding: px2rem(8) px2rem(32);
    max-width: px2rem(1208);
    margin: 0 auto;
}

.nhsuk-header .nhsuk-header__container::after {
    content: none;
}

.nhsuk-header__navigation.app-width-container {
    max-width: px2rem(1144);
}

.nhsuk-header__container.app-width-container {
    display: flex;
    justify-content: space-between;
    gap: 0 px2rem(24);
    padding: px2rem(16) 0;
}

.nhsuk-header__logo {
    flex: 1 0 0;
}

.nhsuk-header__logo .nhsuk-header__link--service {
    display: inline-flex;
}

.nhsuk-header__service-name {
    font-size: px2rem(19);
}

.nhsuk-header__notification-dot {
    position: absolute;
    top: px2rem(8);
    right: px2rem(-10);
    font-size: px2rem(11);
    line-height: px2rem(18);
    font-weight: 900;
    background: $nhsuk-error-color;
    color: white;
    min-width: px2rem(18);
    height: px2rem(18);
    text-align: center;
    border-radius: px2rem(9);
    padding: px2rem(1) px2rem(3) 0;
}

.nhsuk-header__menu {
    display: none;
}

.nhsuk-header__search .nhsuk-search__input {
    width: px2rem(260);
}

.nhsuk-header__search {
    .nhsuk-search__input {
        width: px2rem(260);

        &::-moz-placeholder {
            opacity: 1;
        }
    }

    #search > label.nhsuk-u-visually-hidden {
        background-color: $nhsuk-white;
    }
}

.nhsuk-header__break {
    display: none;
}

.nhsuk-header__mobile-only-nav {
    display: none;
}

.nhsuk-header__mobile-break {
    display: none;
}

.nhsuk-header__navigation-item--current {
    a {
        font-weight: bold;
    }
}

.nhsuk-account__login {
    // also a header item
    font-size: px2rem(14);
    float: right;
    position: relative;
    z-index: 2;
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: px2rem(24);
}

.nhsuk-account__login--link,
.nhsuk-account__login--link:visited,
.nhsuk-account__login--link:hover {
    // all header items
    color: #fff;
}


// End of header items


.app-width-container--full {
    // used to allow placement of hero (full width) images
    margin: 0;
    max-width: none
}

.app-main-wrapper--no-padding {
    // allowing hero image to touch headers
    padding: 0
}

.nhsuk-footer {
    padding: px2rem(48) 0;
}

