@inject Microsoft.Extensions.Options.IOptions<LearningHub.Nhs.WebUI.Configuration.Settings> options
@{
    ViewData["Title"] = "Acceptable Use Policy";
}
@section styles {
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/Policies.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/staticpages.css" asp-append-version="true" />
}

<div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-main-wrapper ">
        <h1>ACCEPTABLE USE POLICY</h1>
        <article class="nhsuk-u-reading-width nhsuk-u-font-size-19">
            <section>
                <div id="acceptable-use-policy-content">
                    <h2 class="h2 nhsuk-heading-l">1 General</h2>
                    <p class="nhsuk-u-margin-bottom-2">1.1 This Acceptable Use Policy sets out how we permit you to use any of our Platforms. Your compliance with this Acceptable Use Policy is a condition of your use of the Platform.</p>
                    <p class="nhsuk-u-margin-bottom-2">1.2 Unless otherwise defined within this Acceptable Use Policy, capitalised terms have the meaning given to them in the terms of use for the Platform which are available at <a href="https://learninghub.nhs.uk/policies/terms-and-conditions">https://learninghub.nhs.uk/policies/terms-and-conditions</a>.</p>
                    <h2 class="h2 nhsuk-heading-l">2 Acceptable use</h2>
                    <p class="nhsuk-u-margin-bottom-2">2.1 You are permitted to use the Platform as set out in the Terms and for the purpose of personal study.</p>
                    <p class="nhsuk-u-margin-bottom-2">2.2 You must not use any part of the Content on the Platform for commercial purposes without obtaining a licence to do so from us or our licensors.</p>
                    <p class="nhsuk-u-margin-bottom-2">2.3 If you print off, copy, download, share or repost any part of the Platform in breach of this Acceptable Use Policy, your right to use the Platform will cease immediately and you must, at our option, return or destroy any copies of the materials you have made.</p>
                    <p class="nhsuk-u-margin-bottom-2">2.4 Our status (and that of any identified contributors) as the authors of Content on the Platform must always be acknowledged (except in respect of Third-Party Content).</p>
                    <h2 class="h2 nhsuk-heading-l">3 Prohibited uses</h2>
                    <p class="nhsuk-u-margin-bottom-2">3.1 You may not use the Platform:</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.1 in any way that breaches any applicable local, national or international law or regulation;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.2 in any way that is unlawful or fraudulent or has any unlawful or fraudulent purpose or effect;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.3 in any way that infringes the rights of, or restricts or inhibits the use and enjoyment of this site by any third party;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.4 for the purpose of harming or attempting to harm minors in any way;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.5 to bully, insult, intimidate or humiliate any person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.6 to send, knowingly receive, upload, download, use or re-use any material which does not comply with our Content Standards as set out in paragraph 4;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.7 to transmit, or procure the sending of, any unsolicited or unauthorised advertising or promotional material or any other form of similar solicitation (spam), or any unwanted or repetitive content that may cause disruption to the Platform or diminish the user experience, of the Platform’s usefulness or relevant to others;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.8 to do any act or thing with the intention of disrupting the Platform in any way, including uploading any malware or links to malware, or introduce any virus, trojan, worm, logic bomb or other material that is malicious or technologically harmful or other potentially damaging items into the Platform;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.9 to knowingly transmit any data, send or upload any material that contains viruses, Trojan horses, worms, time-bombs, keystroke loggers, spyware, adware or any other harmful programs or similar computer code designed to adversely affect the operation of any computer software or hardware; or</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.1.10 to upload terrorist content.</p>
                    <p class="nhsuk-u-margin-bottom-2">3.2 You also agree:</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.1 to follow any reasonable instructions given to you by us in connection with your use of the Platform;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.2 to respect the rights and dignity of others, in order to maintain the ethos and good reputation of the NHS, the public good generally and the spirit of cooperation between those studying and working within the health and care sector. In particular, you must act in a professional manner with regard to all other users of the Platform at all times;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.3 not to modify or attempt to modify any of the Content, save:</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.3.1 in respect of Contributions;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.3.2 where you are the editor of a catalogue within the Learning Hub, you may alter Content within that catalogue;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.4 not to download or copy any of the Content to electronic or photographic media;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.5 not to reproduce any part of the Content by any means or under any format other than as a reasonable aid to your personal study;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.6 not to reproduce, duplicate, copy or re-sell any Content in contravention of the provisions of this Acceptable Use Policy; and</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.7 not to use tools that automatically perform actions on your behalf;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.8 not to upload any content that infringes the intellectual property rights, privacy rights or any other rights of any person or organisation; and</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.9 not to attempt to disguise your identity or that of your organisation;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10 not to access without authority, interfere with, damage or disrupt:</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.1 any part of the Platform;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.2 any equipment or network on which the Platform is stored;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.3 any software used in the provision of the Platform;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.4 the server on which the Platform is stored;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.5 any computer or database connected to the Platform; or</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.10.6 any equipment or network or software owned or used by any third party.</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">3.2.11 not to attack the Platform via a denial-of-service attack or a distributed denial-of-service attack.</p>
                    <h2 class="h2 nhsuk-heading-l">4 Content standards</h2>
                    <p class="nhsuk-u-margin-bottom-2">4.1 The content standards set out in this paragraph 4 (Content Standards) apply to any and all Contributions. </p>
                    <p class="nhsuk-u-margin-bottom-2">4.2 The Content Standards must be complied with in spirit as well as to the letter. The Content Standards apply to each part of any Contribution as well as to its whole. </p>
                    <p class="nhsuk-u-margin-bottom-2">4.3 We will determine, in our discretion, whether a Contribution breaches the Content Standards.</p>
                    <p class="nhsuk-u-margin-bottom-2">4.4 A Contribution must:</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.4.1 be accurate (where it states facts);</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.4.2 be genuinely held (where it states opinions); and</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.4.3 comply with the law applicable in England and Wales and in any country from which it is posted.</p>
                    <p class="nhsuk-u-margin-bottom-2">4.5 A Contribution must not:</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.1 contain misinformation that is likely to harm users, patients/service users, health and care workers, or the general public’s wellbeing, safety, trust and reputation, including the reputation of the NHS or any part of it. This could include false and misleading information relating to disease prevention and treatment, conspiracy theories, content that encourages discrimination, harassment or physical violence, content originating from misinformation campaigns, and content edited or manipulated in such a way as to constitute misinformation;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2 contain any content or link to any content:</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.1 which is created for advertising, promotional or other commercial purposes, including links, logos and business names;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.2 which requires a subscription or payment to gain access to such content;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.3 in which the user has a commercial interest;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.4 which promotes a business name and/or logo;</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.5 which contains a link to an app via iOS or Google Play or similar; or</p>
                    <p class="nhsuk-u-padding-left-7 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.2.6 which has as its purpose or effect the collection and sharing of personal data;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.3 be irrelevant to the purpose or aims of the Platform or while addressing relevant subject matter, contain an irrelevant, unsuitable or inappropriate slant (for example relating to potentially controversial opinions or beliefs of any kind intended to influence others);</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.4 be defamatory of any person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.5 be obscene, offensive, hateful or inflammatory, or contain any profanity;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.6 bully, insult, intimidate or humiliate;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.7 encourage suicide, substance abuse, eating disorders or other acts of self-harm. Content related to self-harm for the purposes of therapy, education and the promotion of general wellbeing may be uploaded, but we reserve the right to make changes to the way in which it is accessed in order that users do not view it accidentally;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.8 feature sexual imagery purely intended to stimulate sexual arousal. Non-pornographic content relating to sexual health and related issues, surgical procedures and the results of surgical procedures, breastfeeding, therapy, education and the promotion of general wellbeing may be uploaded, but we reserve the right to make changes to the way in which it is accessed in order that users do not view it accidentally;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.9 include child sexual abuse material. Content relating to safeguarding which addresses the subject of child sexual abuse may be uploaded, but we reserve the right to make changes to the way in which it is accessed in order that users do not view it accidentally;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.10 incite or glorify violence including content designed principally for the purposes of causing reactions of shock or disgust;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.11 promote discrimination or discriminate in respect of the protected characteristics set out in the Equality Act 2010, being age, disability, gender reassignment, marriage and civil partnership, pregnancy and maternity, race, nationality, religion or belief, sex, and sexual orientation;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.12 infringe any copyright, database right or trade mark of any other person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.13 be likely to deceive any person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.14 breach any legal duty owed to a third party, such as a contractual duty or a duty of confidence;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.15 promote any illegal content or activity, including but not limited to the encouragement, promotion, justification, praise or provision of aid to dangerous persons or organisations, including extremists, terrorists and terrorist organisations and those engaged in any form of criminal activity;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.16 be in contempt of court;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.17 be threatening, abuse or invade another's privacy, or cause annoyance, inconvenience or needless anxiety;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.18 be likely to harass, bully, shame, degrade, upset, embarrass, alarm or annoy any other person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.19 impersonate any person or misrepresent your identity or affiliation with any person;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.20 advocate, promote, incite any party to commit, or assist any unlawful or criminal act such as (by way of example only) copyright infringement or computer misuse;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.21 contain a statement which you know or believe, or have reasonable grounds for believing, that members of the public to whom the statement is, or is to be, published are likely to understand as a direct or indirect encouragement or other inducement to the commission, preparation or instigation of acts of terrorism;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.22 contain harmful material;</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.23 give the impression that the Contribution emanates from us, if this is not the case; or</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.24 disclose any third party’s confidential information, identity, personally identifiable information or personal data (including data concerning health).</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">4.5.25 contain or request any material, the provision of which is not compliant with <a href="https://www.england.nhs.uk/ig/ig-resources/">NHS England Information Governance guidance</a>[https://www.england.nhs.uk/ig/ig-resources/].</p>
                    <p class="nhsuk-u-margin-bottom-2">4.6 Posts must be made with consideration of the NHS People Promise[https://www.england.nhs.uk/our-nhs-people/online-version/lfaop/our-nhs-people-promise/].</p>
                    <p class="nhsuk-u-margin-bottom-2">4.7 You acknowledge and accept that, when using the Platform and accessing the Content, some Content that has been uploaded by third parties may be factually inaccurate, or the topics addressed by the Content may be offensive,indecent, or objectionable in nature. We are not responsible (legally or otherwise) for any claim you may have in relation to the Content.</p>
                    <p class="nhsuk-u-margin-bottom-2">4.8 When producing Content to upload to the Platform, we encourage you to implement NICE guideline recommendations and ensure that sources of evidence are valid (for example, by peer review). </p>
                    <h2 class="h2 nhsuk-heading-l">5 Metadata</h2>
                    <p class="nhsuk-u-margin-bottom-2">When making any Contribution, you must where prompted include a sufficient description of the Content so that other users can understand the description, source, and age of the Content. For example, if Content has been quality assured, then the relevant information should be posted in the appropriate field. All metadata fields on the Platform must be completed appropriately before initiating upload. Including the correct information is important in order to help other users locate the Content (otherwise the Content may not appear in search results for others to select).</p>
                    <h2 class="h2 nhsuk-heading-l">6 Updates</h2>
                    <p class="nhsuk-u-margin-bottom-2">You must update each Contribution at least once every 3 (three) years, or update or remove it should it cease to be relevant or become outdated or revealed or generally perceived to be unsafe or otherwise unsuitable for inclusion on the Platform.</p>
                    <h2 class="h2 nhsuk-heading-l">7 Accessibility</h2>
                    <p class="nhsuk-u-margin-bottom-2">
                        Where practicable, all Contributions should aim to meet the accessibility standards as described in our Accessibility Statement
                        <a href="https://learninghub.nhs.uk/Home/Accessibility">https://learninghub.nhs.uk/Home/Accessibility</a> and as set out in the AA Standard Web Content Accessibility Guidelines v2.1 found here:
                        <a href="https://www.w3.org/TR/WCAG21/">https://www.w3.org/TR/WCAG21/</a>.
                    </p>
                    <h2 class="h2 nhsuk-heading-l">8 Rules about linking to the Platform</h2>
                    <p class="nhsuk-u-margin-bottom-2">8.1 The Platform must not be framed on any other site.</p>
                    <p class="nhsuk-u-margin-bottom-2">8.2 You may directly link to any Content that is hosted on the Platform, however, please be aware that not all links will continue to be available indefinitely. We will use our best efforts to ensure that all links are valid at the time of creating the related Content but cannot be held responsible for any subsequent changes to the link address or related Content.</p>
                    <h2 class="h2 nhsuk-heading-l">9 No text or data mining, or web scraping</h2>
                    <p class="nhsuk-u-margin-bottom-2">9.1 You shall not conduct, facilitate, authorize or permit any text or data mining or web scraping in relation to the Platform or any services provided via, or in relation to, the Platform. This includes using (or permitting, authorizing or attempting the use of):</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">9.1.1 any "robot", "bot", "spider", "scraper" or other automated device, program, tool, algorithm, code, process or methodology to access, obtain, copy, monitor or republish any portion of the Platform or any data, Content, information or services accessed via the same; and/or</p>
                    <p class="nhsuk-u-padding-left-4 nhsuk-u-padding-bottom-2 nhsuk-u-margin-0">9.1.2 any automated analytical technique aimed at analyzing text and data in digital form to generate information which includes but is not limited to patterns, trends, and correlations.</p>
                    <p class="nhsuk-u-margin-bottom-2">9.2 The provisions in this paragraph should be treated as an express reservation of our rights in this regard, including for the purposes of Article 4(3) of Digital Copyright Directive ((EU) 2019/790).</p>
                    <p class="nhsuk-u-margin-bottom-2">9.3 This paragraph shall not apply insofar as (but only to the extent that) we are unable to exclude or limit text or data mining or web scraping activity by contract under the laws which are applicable to us.</p>
                    <h2 class="h2 nhsuk-heading-l">10 Breach of this Acceptable Use Policy</h2>
                    <p>Failure to comply with this Acceptable Use Policy constitutes a material breach of this Acceptable Use Policy upon which you are permitted to use the Platform and may result in our taking all or any of the following actions:</p>
                    <p class="nhsuk-u-margin-bottom-2">10.1 immediate, temporary, or permanent withdrawal of your right to use the Platform;</p>
                    <p class="nhsuk-u-margin-bottom-2">10.2 immediate, temporary, or permanent removal of any Contribution uploaded by you to the Platform;</p>
                    <p class="nhsuk-u-margin-bottom-2">10.3 issue of a warning to you;</p>
                    <p class="nhsuk-u-margin-bottom-2">10.4 legal proceedings against you for reimbursement of all costs on an indemnity basis (including, but not limited to, reasonable administrative and legal costs) resulting from the breach, and/or further legal action against you;</p>
                    <p class="nhsuk-u-margin-bottom-2">10.5 disclosure of such information to law enforcement authorities as we reasonably feel is necessary or as required by law; and/or</p>
                    <p class="nhsuk-u-margin-bottom-2">10.6 any other action we reasonably deem appropriate.</p>
                    <h2 class="h2 nhsuk-heading-l">11 Moderation of Contributions  </h2>
                    <p class="nhsuk-u-margin-bottom-2">11.1 Course Manager means a person authorised by NHS England who is responsible for creating and managing courses and learning resources on the Learning Hub, including the moderation of learner's Contributions within social learning environments of an online course, such as discussion forums.</p>
                    <p class="nhsuk-u-margin-bottom-2">11.2 Course Managers shall be responsible for monitoring local forum activity and ensuring compliance of all Contributions with the Learning Hub’s Acceptable Use Policy. Inappropriate Contributions shall be addressed promptly and escalated where necessary to the Learning Hub, who will review the user’s access to the Platform and the relevant forum. </p>
                    <p class="nhsuk-u-margin-bottom-2">11.3 Course Managers shall also take responsibility for the following:</p>
                    <p class="nhsuk-u-margin-bottom-2"> 11.3.1 <strong>Clear Expectations:</strong> Set clear local forum rules within their course at the outset, compliantly with this Acceptable Use Policy, which includes expected behaviour, response times and moderation practices. </p>
                    <p class="nhsuk-u-margin-bottom-2">11.3.2 <strong>Inclusive Practice:</strong> Encourage participation from all learners/users and foster a respectful, inclusive environment that values diverse perspectives. This should involve reminding local forum users of the appropriate measures of this Acceptable Use Policy and potentially removing Contributions that infringe the rules of this Acceptable Use Policy including under paragraph 4.5 above.</p>
                    <p class="nhsuk-u-margin-bottom-2">11.3.3 <strong>Data Protection and Safety:</strong> Ensure that no sensitive or personal data is shared, requested or stored in local forums, including by promptly removing any inclusions or requests for such material and notifying NHS England promptly of any potential breaches by contacting NHS England’s Data Protection Officer team via england.dpo@nhs.net; and ensure that risks are actively managed and the local forums are maintained as a safe space for discussion.</p>
                    <p class="nhsuk-u-margin-bottom-2">11.4 All users must comply with this Acceptable Use Policy. Breaches may result  in removal of Contributions and/or withdrawal or suspension of user access without notice. </p>
                </div>
            </section>
        </article>
        @await Html.PartialAsync("~/Views/Shared/_PageReviewPartial.cshtml", new PageReviewModel { LastReviewedDate = new DateTime(2023, 6, 01), NextReviewDate = new DateTime(2026, 8, 16) })
    </div>

</div>
