@model LearningHub.Nhs.WebUI.Models.Policies.TermsAndConditionsViewModel
@{
    ViewData["Title"] = "Terms and Conditions";
    var nextDate = new DateTime(2026, 8, 16);
}
@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/Policies.css" asp-append-version="true" />
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/staticpages.css" asp-append-version="true" />
}
<div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-main-wrapper ">
        <h1>NHS England Learning Hub Terms and Conditions of Use (‘Terms’)</h1>

        <article class="nhsuk-u-reading-width nhsuk-u-font-size-19">
            <section>
                <div id="terms-and-conditions-content">
                    @Html.Raw(Model.TermsAndConditions)
                    @await Html.PartialAsync("~/Views/Shared/_PageReviewPartial.cshtml", new PageReviewModel { LastReviewedDate = Model.CreatedDate, NextReviewDate = nextDate })
                </div>
            </section>
        </article>
    </div>
</div>