$nhsuk-blue: #005EB8;
$nhsuk-blue-dark: #002F5C;
$nhsuk-beta-blue: #C8E4FF;
$nhsuk-navbar-blue: #37A9DD;
$nhsuk-navbar-hover-blue: #003D78;
$nhsuk-light-blue-colour: #F2F8FD;
$nhsuk-pale-blue-colour: #E4F0FA;
$nhsuk-green: #007F3B;
$nhsuk-green-hover: #2a6435;
$nhsuk-purple: #330072;
$nhsuk-red: #D5281B;
$nhsuk-red-hover: #C61D11;
$nhsuk-yellow: #FFED00;
$nhsuk-warm-yellow: #FFBB1C;
$nhsuk-white: #fff;
$nhsuk-black: #212B32;
$nhsuk-black-hover: #36444e;
$nhsuk-navlink-hover-black: #35444E;
$nhsuk-grey: #4C6272;
$nhsuk-grey-hover: #384853;
$nhsuk-grey-placeholder: #768692;
$nhsuk-grey-light: #AEB7BD;
$nhsuk-grey-lighter: #D8DDE0;
$nhsuk-grey-white: #F0F4F5;
$nhsuk-grey-divider: #D7D7D7;
$nhsuk-blue-divider: #4081C1;
$nhsuk-btn-blue-hover: #003f7b;
$nhsuk-btn-outline-hover: #E4F2FF;
$twitter-blue: #29A3EF;
$govuk-focus-highlight-yellow: #fd0;
$font-stack: FrutigerLTW01-55Roman, Arial, sans-serif;
$font-stack-light: FrutigerLight, Arial, sans-serif;
$font-stack-bold: FrutigerLTW01-65Bold, Arial, sans-serif;
$font-awesome: FontAwesome5ProRegular, Arial, sans-serif;
$font-awesome-light: FontAwesome5ProLight, Arial, sans-serif;
$font-awesome-solid: FontAwesome5ProSolid, Arial, sans-serif;
$base-font-size: 62.5%;
