@use "../abstracts/all" as *;
@use "nhsuk" as *;
.tag-font
{
    font-size : 16px !important;
}

.menu-font {
    font-size: 19px !important;
}
.nhs-item-row {
    display: flex;
    justify-content: space-between;
    align-items: center;
}


