@model LearningHub.Nhs.WebUI.Models.UserProfile.UserPersonalDetailsViewModel

@{
  ViewData["DisableValidation"] = true;
  ViewData["Title"] = "My Account - Change last name";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="bg-white">
  <div class="nhsuk-width-container app-width-container">
    <vc:back-link asp-controller="MyAccount" asp-action="Index" link-text="Go back" />
    <form asp-controller="MyAccount" asp-action="UpdateLastName" method="post">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
          @if (errorHasOccurred)
          {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.LastName) })" />
          }
          <div class="nhsuk-caption-l" id="contact-hint">
            Change last name
          </div>
          <h1 class="nhsuk-heading-xl">Update your last name</h1>
          <div>
            <vc:text-input asp-for="LastName"
                           label="Last Name"
                           populate-with-current-value="true"
                           type="text"
                           spell-check="false"
                           hint-text=""
                           autocomplete="family-name"
                           css-class="nhsuk-u-width-one-half"
                           required="true"
                           required-client-side-error-message="Enter a last name" />
            <input name="FirstName" type="hidden" asp-for="@Model.FirstName" />
            <input name="PreferredName" type="hidden" asp-for="@Model.PreferredName" />
          </div>
          <div class="nhsuk-u-padding-bottom-5">
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>