@model LearningHub.Nhs.WebUI.Models.UserProfile.ChangePasswordViewModel

@{
  ViewData["DisableValidation"] = true;
  ViewData["Title"] = "My Account - Change password";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="bg-white">
  <div class="nhsuk-width-container app-width-container">
        <vc:back-link asp-controller="MyAccount" asp-action="MyAccountSecurity" link-text="Go back" />
    <form asp-controller="MyAccount" asp-action="UpdatePassword" method="post">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
          @if (errorHasOccurred)
          {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.NewPassword),nameof(Model.PasswordConfirmation) })" />
          }
          <div class="nhsuk-caption-l" id="contact-hint">
            Change Password
          </div>
          <h1 class="nhsuk-heading-xl">Enter your new password</h1>
          <div class="nhsuk-hint nhsuk-u-padding-bottom-5" id="contact-hint">
            <p>Your new password must:</p>
            <ul>
              <li>have 8 characters or more</li>
              <li>at least 1 number </li>
              <li>have 1 UPPERCASE letter or more </li>
              <li>have 1 lower case letter </li>
              <li>have 1 symbol (e.g. &*%) or more </li>
            </ul>
          </div>
          <div>
            <vc:text-input asp-for="NewPassword"
                           label="New password"
                           populate-with-current-value="false"
                           type="password"
                           spell-check="false"
                           hint-text=""
                           autocomplete=""
                           css-class="nhsuk-u-width-one-half"
                           required="true"
                           required-client-side-error-message="Enter your new password" />
            <vc:text-input asp-for="PasswordConfirmation"
                           label="Confirm password"
                           populate-with-current-value="false"
                           type="password"
                           spell-check="false"
                           hint-text=""
                           autocomplete=""
                           css-class="nhsuk-u-width-one-half"
                           required="true"
                           required-client-side-error-message="Enter the same password twice" />
            <input type="hidden" name="Username" asp-for="@Model.Username" />
          </div>
          <div class="nhsuk-u-padding-bottom-5">
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>