@model LearningHub.Nhs.WebUI.Models.UserProfile.CurrentPasswordViewModel

@{
  ViewData["Title"] = "My Account - Change password";
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}

<div class="bg-white">
  <div class="nhsuk-width-container app-width-container">
    <vc:back-link asp-controller="MyAccount" asp-action="Index" link-text="Go back" />
    <form asp-controller="MyAccount" asp-action="ChangePassword" method="post">
      <div class="nhsuk-grid-row">
        <div class="nhsuk-grid-column-three-quarters nhsuk-u-padding-bottom-5">
          @if (errorHasOccurred)
          {
            <vc:error-summary order-of-property-names="@(new[] { nameof(Model.CurrentPassword) })" />
          }
          <div class="nhsuk-caption-l" id="contact-hint">
            Change password
          </div>
          
          @if (errorHasOccurred)
          {
            <h1 class="nhsuk-heading-xl">@ViewBag.Errormessage</h1>
          }
          else
          {
            <h1 class="nhsuk-heading-xl">Enter your current password</h1>
          }
          <div class="nhsuk-label nhsuk-u-padding-bottom-4" id="contact-hint">
            We need you to confirm your current password before changing it.
          </div>
          <div>
            <vc:text-input asp-for="CurrentPassword"
                           label="Current password"
                           populate-with-current-value="false"
                           type="password"
                           spell-check="false"
                           hint-text=""
                           autocomplete=""
                           css-class="nhsuk-u-width-one-half"
                           required="true" />

            <input name="NewPassword" type="hidden" asp-for="@Model.CurrentPassword" />
            <input name="PasswordConfirmation" type="hidden" asp-for="@Model.CurrentPassword" />
          </div>
          <div class="nhsuk-u-padding-bottom-5">
            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
              Continue
            </button>
          </div>
        </div>
      </div>
    </form>
  </div>
</div>