@inject Microsoft.Extensions.Options.IOptions<LearningHub.Nhs.WebUI.Configuration.Settings> options;
@{
  ViewData["Title"] = "My Account - Confirm Email";
  Layout = ViewData["Layout"].ToString();
  var supportUrl = options.Value.SupportUrls.SupportForm;
}
<div class="bg-white">
  <div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-full nhsuk-u-padding-top-9 nhsuk-u-padding-bottom-9">
        <h1 class="nhsuk-heading-xl">@ViewBag.SuccessMessage</h1>
        <div class="nhsuk-label nhsuk-u-width-two-thirds nhsuk-u-padding-bottom-3" id="contact-hint">
          Please return to the <a href="https://learninghub.nhs.uk" target="_blank">
            Learning Hub</a> and Log in to My Account where you can request that a new confirmation is resent.
         <p>Or you can choose the option to cancel the email address change.</p>
        </div>
        <div class="nhsuk-label nhsuk-padding-top-2" id="contact-hint">
          <p>If you have any further questions, please contact the <a href="@supportUrl" target="_blank">support team.</a></p>
        </div>
      </div>
    </div>
  </div>
</div>