@model LearningHub.Nhs.WebUI.Models.UserProfile.MyAccountSecurityViewModel

@{
    ViewData["Title"] = "Security";
}
@section NavBreadcrumbs {

    <section class="nhsuk-hero">
        <div class="nhsuk-width-container app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
                        <a href="/">Home</a>
                        <i class="fa-solid fa-chevron-right nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></i>
                    </div>
                    <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">
                        <h1 class="nhsuk-heading-xl">My account</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="bg-white nhsuk-u-padding-bottom-9 nhsuk-u-padding-top-9">
    <div class="nhsuk-width-container app-width-container">
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
                @await Component.InvokeAsync("SideNav", new { groupTitle = "Account" })
            </div>
            <div class="nhsuk-grid-column-three-quarters">

                @if (!ViewData.ModelState.IsValid)
                {
                    <vc:error-summary order-of-property-names="@(new[] { nameof(Model) })" />
                }

                <h2 class="nhsuk-heading-l nhsuk-u-padding-bottom-7">Security</h2>
                <dl class="nhsuk-summary-list">

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Password
                        </dt>
                        <dd class="nhsuk-summary-list__value" typeof="password">
                            *************
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a asp-action="ConfirmPassword">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;password</span>
                            </a>

                        </dd>

                    </div>

                    <div class="nhsuk-summary-list__row">
                        <dt class="nhsuk-summary-list__key">
                            Security questions
                        </dt>
                        <dd class="nhsuk-summary-list__value">
                            Set on @Model.SecurityQuestionLastUpdated
                        </dd>

                        <dd class="nhsuk-summary-list__actions">

                            <a asp-action="MyAccountSecurityQuestionsDetails">
                                Change<span class="nhsuk-u-visually-hidden">&nbsp;security questions</span>
                            </a>

                        </dd>

                    </div>
                </dl>

                @if (this.ViewBag.CheckDetails == true)
                {
                    <form asp-controller="MyAccount" asp-action="CheckDetails" method="post">
                        <input name="returnUrl" type="hidden" asp-for="@Context.Request.Query["returnUrl"]" />
                        <div class="nhsuk-u-padding-bottom-5">
                            <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
                                Confirm
                            </button>
                        </div>
                    </form>
                }
            </div>
        </div>
    </div>
</div>