@model string
@{
  ViewData["Title"] = "My Account - Change country";
  Layout = null;
}
<div class="bg-white">
  <div class="search-width-container">
    <h1 class="nhsuk-heading-xl">No results found for @Model</h1>
    <div class="app-width-container nhsuk-label nhsuk-u-padding-bottom-9" id="contact-hint">
      <p>You can try:</p>
      <ul>
        <li>checking your spelling </li>
        <li>searching again using other words </li>
      </ul>
    </div>
  </div>
</div>