@model string

<form id="search" asp-controller="search" asp-action="results" method="get" role="search">
    <div class="nhsuk-u-margin-bottom-5 nhsuk-header__search-form--search-results">
        <label class="nhsuk-label nhsuk-u-visually-hidden" for="search-field">Search the learning hub</label>
        <input class="nhsuk-input nhsuk-search__input" type="search" name="term" autocomplete="off" id="search-field" placeholder="Search the learning hub" value="@Model">
        <button class="nhsuk-search__submit" type="submit">
            <span class="nhsuk-u-visually-hidden">
                Submit
            </span>
            <svg class="nhsuk-icon nhsuk-icon__search" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 24 24" aria-hidden="true" focusable="false">
                <path d="M19.71 18.29l-4.11-4.1a7 7 0 1 0-1.41 1.41l4.1 4.11a1 1 0 0 0 1.42 0 1 1 0 0 0 0-1.42zM5 10a5 5 0 1 1 5 5 5 5 0 0 1-5-5z"></path>
            </svg>
        </button>
    </div>
</form>