@model LearningHub.Nhs.WebUI.Models.Search.SearchResultViewModel

@{
    ViewData["Title"] = "Search";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/search.css" asp-append-version="true" />
}

<div class="search-page">
    <div class="nhsuk-width-container app-width-container">
            <h1 class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
            Search results @(!string.IsNullOrEmpty(Model.SearchString) ? "for " + Model.SearchString : string.Empty)
            </h1>
        @if (Model.DidYouMeanEnabled)
        {
            <h6 class="nhsuk-u-margin-top-5 nhsuk-u-margin-bottom-6">
                We couldn't find a match for <em>@(Model.SearchString)</em>, try adjusting your search terms or explore the suggestions below.
            </h6>
        }
            
        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-two-thirds">
                @await Html.PartialAsync("_SearchBar", @Model.SearchString)
            </div>
        </div>

        @if (Model.CatalogueSearchResult?.TotalHits > 0)
        {
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    @await Html.PartialAsync("_CatalogueSearchResult", Model)
                </div>
            </div>
        }

        @if (Model.ResourceSearchResult?.TotalHits > 0)
        {
            @await Html.PartialAsync("_ResourceFilter", Model)

            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <div class="nhsuk-u-reading-width">
                        @await Html.PartialAsync("_ResourceSearchResult", Model)
                        @await Html.PartialAsync("_ResourcePagination", Model)
                    </div>
                </div>
            </div>
        }
        
        @if ((Model.CatalogueSearchResult?.TotalHits ?? 0) == 0 && (Model.ResourceSearchResult?.TotalHits ?? 0) == 0)
        {
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">
                    <h2 class="nhsuk-heading-l">No results found @(!string.IsNullOrEmpty(Model.SearchString) ? "for " + Model.SearchString : string.Empty)</h2>
                    <p>You could try:</p>
                    <ul class="nhsuk-list nhsuk-list--bullet">
                        <li>checking your spelling</li>
                        <li>searching again using other words</li>
                    </ul>
                </div>
            </div>
        }

        <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-full">
                <div class="nhsuk-u-reading-width nhsuk-u-font-size-19">
                    @await Html.PartialAsync("_SubmitFeedback", Model)
                </div>
            </div>
        </div>

    </div>
</div>