@inherits TELBlazor.Components.Core.TELComponentBase
@inject ILogger<TestDeleteMe.HelloWorld> Logger
<h3>Hello Blazor!</h3>
<p>If you see this and the console message, Blazor WASM code is running.</p>

<p>Button has been clicked: <strong>@clickCount</strong> times.</p>

<button @onclick="HandleButtonClick">Click Me to Run C#</button>
@code {
    private int clickCount = 0; // Initialize a counter
    protected override void OnInitialized()
    {
        base.OnInitialized(); // Call the base method
        Console.WriteLine("-----> SimpleTest Component Initialized! If you see this, Blazor WASM code is executing.");
    }

    private void HandleButtonClick()
    {
        // This C# code will run when the button is clicked.
        Console.WriteLine("----> Button was clicked! C# method executed.");

        clickCount++;
        Logger.LogWarning("serilog in simple");
    }
}