@use "../Abstracts/all" as *;

#catalogue-id-tag {
    height: 44px;
    width: 77px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $nhsuk-grey;
    color: $nhsuk-white;
    font-size: 1.6rem;
}

.hide-catalogue {
    color: $nhsuk-red;
}

.hide-catalogue-container {
    background: $nhsuk-grey-white;
    border: 1px solid $nhsuk-warm-yellow;
}

.btn-custom-yellow {
    background: $nhsuk-warm-yellow !important;
    border: 1px solid $nhsuk-warm-yellow;
}

.catalogue-tab-bar {
    color: $nhsuk-black;
    display: flex;
    flex-direction: row;

    .catalogue-tab-link {
        &:not(:first-child) {
            margin-left: 6rem;
        }

        a {
            color: $nhsuk-black !important;
            text-decoration: none !important;
        }

        width: auto;
        max-width: 300px;

        &.active {
            border-bottom: 6px solid $nhsuk-blue;
            font-family: $font-stack-bold;
        }
    }

    border-bottom: 1px solid $nhsuk-grey-light;
}

#catalogue-filter-input {
    height: 34px !important;
    width: 100%;
}

.catalogue-filter {
    i {
        margin-left: -24px;
        margin-top: 8px;
        color: $nhsuk-blue;
        cursor: pointer;
        z-index: 5;
    }
}

.catalogue-date-created {
    margin-top: 9px;
    margin-left: 16px;
}

#add-admins-modal {
    .paging-container {
        margin-left: 3rem !important;
        margin-right: 3rem !important;
    }
}

.keyword-list {
    display: flex;
    flex-wrap: wrap;

    .keyword-tag {
        margin: 6px;
        padding: 6px;
        background-color: $nhsuk-grey-white;
        border-radius: 6px;
        display: flex;
        justify-content: start;
        align-items: center;
        font-size: 16px;

        i {
            color: $nhsuk-red;
            cursor: pointer;
        }

        p {
            margin-bottom: 0;
            margin-right: 10px;
        }
    }
}


.hidden-badge {
    background-color: $nhsuk-warm-yellow;
    height: 28px;
    width: 68px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.hidden-badge-lg {
    height: 44px;
    margin-left: 16px;
}

.visible-badge {
    background-color: $nhsuk-green !important;
    color: $nhsuk-white !important;
    height: 28px;
    width: 68px;
    font-size: 14px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.remove-admin {
    color: $nhsuk-red;
}

.catalogue-admins {
    width: 100%;
}

.catalogue-role-description {
    padding-left: 30px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.catalogue-user-group-list {
    border-top: 1px solid $nhsuk-grey-lighter;
}

#add-keyword {
    height: 45px;

    i {
        margin-right: 5px;
    }
}

#add-keyword-input {
    border-top-right-radius: 0 !important;
    border-bottom-right-radius: 0 !important;
}

.form-check-vertical {
    display: block !important;
    -ms-flex-align: center;
    align-items: center;
    padding-left: 0;
    margin-right: 0.75rem;
    padding-bottom: 24px;
}

.form-check-input-provider {
    position: absolute;
    margin-top: -0.7rem;
    margin-bottom: 24px;
}

.span-provider {
    margin-left: 3.5rem !important;
    padding-bottom: 15px;
}

.providertext {
    font-family: $font-stack;
    font-size: 19px;
}
