@use "../Abstracts/all" as *;

p.information-page__text-container-title {
    font-size: 32px;
    font-weight: bold;
}

p.information-page__video-text-container-title {
    font-size: 32px;
    font-weight: bold;
}
.container cke h1 {
    font-size: 32px;
    font-weight: bold;
}