
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Scorm Trace Window</title>

    <style>
        html, body {
            margin: 0px;
            padding: 0px;
            height: 100%;
            border: none;
        }
    </style>
</head>
<body>
    <div id="scormtracecontainer">
        <scorm-viewer></scorm-viewer>
    </div>
    <script type="text/javascript" src="~/js/bundle/scormtracecontainer.js"></script>
</body>
</html>
