@use "../../abstracts/all" as *;

textarea {
    resize: none;
}

.catalogue-search-bar {
    background-color: $nhsuk-grey-white;
    border-top: 1px solid $nhsuk-grey-light;
    border-bottom: 1px solid $nhsuk-grey-light;
    padding: 10px 0 10px 0;
}

.catalogue-title {
    display: flex;
}

.catalogue-badge {
    margin-right: 16px;
    height: 60px;
    min-width: 60px;

}

.catalogue-card-badge {
    margin-right: 16px;
    height: 60px;
    min-width: 60px;
}

.folder-title {
    display: flex;

    img {
        padding-right: 12px;
    }
}

@media(min-width: 40.0625em) {
    .folder-title {
        font-size: 24px;
        font-size: 1.5rem;
    }
}

.folder-title_empty {
    display: flex;

    img {
        padding-right: 12px;
    }
    opacity:50%;
}

.folder-description {
    p:last-child {
        margin-bottom: 48px;
    }
}

.resource-metadata {
    display: flex;
    flex-wrap: wrap;
    margin-top: 12px;
    margin-bottom: -12px;

    > div {
        margin-bottom: 12px;
    }

    > div:not(:last-child) {
        white-space: nowrap;
    }
}

.star-rating-container {
    display: flex;
}

@media (max-width: 768px) {

    .title {
        margin-top: -5px;
    }

    .catalogue-badge {
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
    }

    .catalogue-card-badge {
        height: 40px;
        min-width: 40px;
        margin-right: 10px;
    }
}

.btn-catalogue-search {
    color: $nhsuk-blue !important;
    font-size: 1.6rem;
    border-radius: 0 !important;
    background-color: $nhsuk-white !important;
    height: 30px;
    width: 30px;
    padding: 0;
    line-height: 1.6rem;
}

.content-item {
    padding: 20px 0 32px 0;
    border-bottom: 1px solid $nhsuk-grey-light;

    p, h2, h3 {
        margin: 0;
    }

    h2.nhsuk-u-reading-width {
        font-size: x-large;
    }
}

.personal-details-table {
    width: auto;

    td {
        padding: 6px 24px 6px 0;
        border: none;
    }
}

.catalogue-card {
    display: flex;
    flex-direction: column;

    .catalogue-card-content {
        display: flex;
        flex-direction: column;
        height: 100%;

        .catalogue-card-body {
            display: flex;
            flex-direction: column;
            height: 100%;
            justify-content: space-between;
        }

        .catalogue-meta {
            display: flex;
            justify-content: space-between;

            > div:first-child {
                display: flex;
                flex-direction: column;
                justify-content: space-between;
            }

            > div:last-child {
                align-self: end;
            }

            .catalogue-card-badge {
                height: 56px;
                width: 56px;
                border: 1px solid $nhsuk-grey-light;
            }
        }
    }
}
.catalogue_preview_div {
    width: 100%;
    height: 100%;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 4px;
    padding-bottom: 4px;
    background: #005EB8;
    justify-content: flex-start;
    align-items: flex-start;
    display: inline-flex
}
.Catalogue_preview_text {
    text-align: center;
    color: white;
    font-size: 16px;
    font-weight: 700;
    line-height: 24px;
    word-wrap: break-word
}
.allCatalogue-lettercard {
    background: $nhsuk-blue !important;
    padding: 12px 8px;
    margin-left: 16px;
    width: 52px;
    height: 56px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: $nhsuk-white !important;
}
