@use "../../abstracts/all" as *;

.jira-roadmap-state {
    box-shadow: inset 0 0 0 2px $nhsuk-grey-lighter;
    border-radius: .333rem;
    overflow: hidden;
}

.jira-roadmap-state-heading {
    display: inline-block;
    background-color: $nhsuk-blue;
    color: $nhsuk-white;
    padding: 8px 16px;
    border-radius: 5px 0px 5px 0px;
}

.jira-roadmap-card-body {
    padding: 8px 16px;
}

.nhsuk-icon--tick {
    fill: $nhsuk-green-hover;
    height: 2rem;
    width: 2rem;
}
.jira-roadmap__tick-item {
    display: flex;
    align-items: flex-start;
    gap: 8px;
}

