@use "../../abstracts/all" as *;


.my-learning {
   

    .downloadbuttonaslink {
        background: none !important;
        border: none;
        padding: 0 !important;
        color: #069;
        text-decoration: none;
    }

    .app-width-container--full {
        margin: 0;
        max-width: none
    }

    .app-main-wrapper--no-padding {
        padding: 0
    }

    .white-background {
        background-color: #fff
    }

    .table-content-spacing {
        min-width: 75%;
        max-width: 75%;
    }

    .search-box-container {
        display: flex;
        flex-direction: row;
        justify-content: flex-start;
        width: 100%;
    }

    .search-box {
        -webkit-appearance: none;
        flex: 1;
        padding: 0 13px;
    }

    .filterForm {
        .nhsuk-form-group {
            margin-bottom: 0px;
        }
    }

    .nhsuk-search__submit {
        border: 0;
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 4px;
        border-top-left-radius: 0;
        border-top-right-radius: 4px;
        float: right;
        font-size: inherit;
        line-height: inherit;
        outline: none;
        padding: 0;
    }

    .nhsuk-search__submit {
        background-color: $nhsuk-green;
        display: block;
        height: 40px;
        width: 44px;
    }


    .nhsuk-icon__search {
        height: 27px;
        width: 27px;
        fill: $nhsuk-white
    }


    .nhsuk-header__search-form--search-results {
        display: flex;
    }

    .nhsuk-search__input {
        border-bottom: 1px solid $nhsuk-grey-light;
        border-bottom-left-radius: 4px;
        border-bottom-right-radius: 0;
        border-left: 1px solid $nhsuk-grey-light;
        border-right: 0;
        border-top: 1px solid $nhsuk-grey-light;
        border-top-left-radius: 4px;
        border-top-right-radius: 0;
        height: 52px;
        padding: 0 16px;
    }


    .nhsuk-icon__search {
        fill: $nhsuk-white;
    }


    .search-filters {
        .nhsuk-expander {
            border-width: 0;

            .nhsuk-details__summary-text {
                padding: 0 0 0 24px;
                text-decoration: auto;

                &:before {
                    content: "";
                    width: 0;
                    height: 0;
                    top: calc(50% - 7px);
                    border-style: solid;
                    border-color: rgba(0,0,0,0);
                    clip-path: polygon(0% 0%, 100% 50%, 0% 100%);
                    border-width: 7px 0 7px 12.124px;
                    border-left-color: inherit;
                }
            }

            &[open] .nhsuk-details__summary-text:before {
                clip-path: polygon(0% 0%, 50% 100%, 100% 0%);
                border-width: 12.124px 7px 0 7px;
                border-top-color: inherit
            }

            .filter-summary {
                color: $nhsuk-black;
                display: flex;
                line-height: 1.8;

                .clear-filter {
                    justify-content: flex-end;
                    display: flex;
                    flex: 1 1 auto !important;
                }

                @media(max-width: 48.0525em) {
                    display: initial;

                    .clear-filter {
                        display: block;
                        margin-top: 12px;
                    }
                }
            }
        }



        .search-filter-items {
            background-color: $nhsuk-grey-white;
        }
    }

    label {
        font-family: $font-stack;
    }
}
