@{
    ViewData["Title"] = "System notifications";
}

<div id="notificationcontainer" v-cloak>
    <notifications />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bundle/notificationcontainer.js"></script>
}