@{
    ViewData["Title"] = "Notifications";
}
@section NavBreadcrumbs {

    <section class="nhsuk-hero">
        <div class="nhsuk-width-container app-width-container">
            <div class="nhsuk-grid-row">
                <div class="nhsuk-grid-column-full">

                    <div class="nhsuk-u-padding-top-3 nhsuk-u-padding-bottom-3">
                        <a href="/">Home</a>
                        <i class="fa-solid fa-chevron-right nhsuk-u-padding-top-1 nhsuk-u-padding-bottom-1 nhsuk-u-padding-left-2 nhsuk-u-padding-right-2"></i>
                    </div>
                    <div class="nhsuk-u-padding-top-4 nhsuk-u-padding-bottom-7">
                        <h1 class="nhsuk-heading-xl">My account</h1>
                    </div>
                </div>
            </div>
        </div>
    </section>
}
<div class="bg-white nhsuk-u-padding-bottom-7 nhsuk-u-padding-top-7">
<div class="nhsuk-width-container app-width-container">
    <div class="nhsuk-grid-row">
            <div class="nhsuk-grid-column-one-quarter">
            @await Component.InvokeAsync("SideNav", new { groupTitle = "Account" })
        </div>
            <div class="nhsuk-grid-column-three-quarters">
            <div id="notificationcontainer" v-cloak>
                <notifications />
            </div>
        </div>
    </div>
</div>
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bundle/notificationcontainer.js"></script>
}