@{
    ViewData["Title"] = "System notifications";
}
<div class="nhsuk-grid-column-one-third">
    @await Component.InvokeAsync("SideNav", new { groupTitle = "Account" })
</div>
<div id="notificationcontainer" v-cloak>
    <notifications />
</div>

@section Scripts {
    <script type="text/javascript" src="~/js/bundle/notificationcontainer.js"></script>
}