@model LearningHub.Nhs.WebUI.Models.Account.ChangePasswordViewModel
@{
  var errorHasOccurred = !ViewData.ModelState.IsValid;
}
<div class="bg-white">
  <form asp-action="ChangePassword" method="post">
    <div class="nhsuk-grid-row">
      <div class="nhsuk-grid-column-three-quarters">
        @if (errorHasOccurred)
        {
          <vc:error-summary order-of-property-names="@(new[] { nameof(Model.NewPassword),nameof(Model.PasswordConfirmation) })" />
        }
        <div class="nhsuk-hint" id="contact-hint">
          <p>Your new password must:</p>
          <ul>
            <li>have 8 charcters or more</li>
            <li>at least 1 number </li>
            <li>have 1 UPPERCASE letter or more </li>
            <li>have 1 lower case letter </li>
            <li>have 1 symbol (e.g. &*%) or more </li>
          </ul>
        </div>
        <p>
          Your password must be different to the username you received by email.
        </p>
        <div>
          <vc:text-input asp-for="NewPassword"
                         label="New password"
                         populate-with-current-value="false"
                         type="password"
                         spell-check="false"
                         hint-text=""
                         autocomplete=""
                         css-class="nhsuk-u-width-one-half"
                         required="true"
                         required-client-side-error-message="Enter your new password" />
          <vc:text-input asp-for="PasswordConfirmation"
                         label="Confirm password"
                         populate-with-current-value="false"
                         type="password"
                         spell-check="false"
                         hint-text=""
                         autocomplete=""
                         css-class="nhsuk-u-width-one-half"
                         required="true"
                         required-client-side-error-message="Enter the same password twice" />
          <input type="hidden" name="Username" asp-for="@Model.Username" />
          <input type="hidden" name="returnUrl" value="@ViewData["ReturnUrl"]" />
        </div>
        <div class="nhsuk-u-padding-bottom-5">
          <button class="nhsuk-button" data-module="nhsuk-button" type="submit">
            Submit
          </button>
        </div>
      </div>
    </div>
  </form>
</div>