<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<!--copied from C:\Users\TELAdminPT\AppData\Roaming\NuGet\NuGet.Config-->
	<packageSources>
		<add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
		<!--<add key="Microsoft Visual Studio Offline Packages" value="C:\Program Files (x86)\Microsoft SDKs\NuGetPackages\" />
		<add key="elfhHub.Nhs.Models" value="https://pkgs.dev.azure.com/e-LfH/_packaging/LearningHubFeed/nuget/v3/index.json" />
		<add key="LocalModels" value="C:\Users\philip.tate\Phil\repos\NHSModelsRepo\LearningHub.Nhs.Entities\LearningHub.Nhs.Models\bin\x64\Release\" />
		<add key="LocalPackageSourceTest" value="C:\PutItHereIfBlockedByTennant" />-->
	</packageSources>
	<packageRestore>
		<add key="enabled" value="True" />
		<add key="automatic" value="True" />
	</packageRestore>
	<bindingRedirects>
		<add key="skip" value="False" />
	</bindingRedirects>
	<packageManagement>
		<add key="format" value="0" />
		<add key="disabled" value="False" />
	</packageManagement>
</configuration>

