<div class="nhsuk-warning-callout">
    <h3 class="nhsuk-warning-callout__label">
        <span role="text">
            <span class="nhsuk-u-visually-hidden">Important: </span>
            Media services unavailable
        </span>
    </h3>
    <p>The Learning Hub's media upload and streaming services are temporarily unavailable. This will affect most video and audio uploads and playback. We are working to resolve this as quickly as possible.</p>
</div>
