<noscript>
    <div class="nhsuk-warning-callout">
        <h3 class="nhsuk-warning-callout__label">
            <span role="text">
                <span class="nhsuk-u-visually-hidden">Important: </span>
                JavaScript required
            </span>
        </h3>
        <p>This content requires JavaScript to be enabled in your web browser. Please adjust your browser settings and refresh the page.</p>
    </div>
</noscript>