<!-- This partial view defines the header content that we want to see in printed pages instead of the blue website header. -->

<div class="lh-padding-fluid print-header print-only">
    <div class="lh-container-xl">
        <div>
            <img src="/images/NHS-blue.svg" alt="NHS" />
            <div class="header-title">Learning Hub<sup class="header-beta" style="color: #768692;">Beta</sup></div>
        </div>
    </div>
</div>
