@{
    ViewData["Title"] = "Edit Content Page";
}

@section Styles{
    <link href="https://amp.azure.net/libs/amp/2.3.3/skins/amp-default/azuremediaplayer.min.css" type="text/css" rel="stylesheet" />
    <link href="~/css/nhsuk/nhsuk.css" type="text/css" rel="stylesheet" />
    <link href="~/css/Pages/page_detail.css" type="text/css" rel="stylesheet" />
}

<div id="cmsContainer" class="container p-0">
    <router-view></router-view>
</div>

@section Scripts{
    <script src="~/js/bundle/content.js"></script>
    <script src="https://amp.azure.net/libs/amp/2.3.3/azuremediaplayer.min.js"></script>
}