@model CatalogueAccessRequestedViewModel
@using LearningHub.Nhs.WebUI.Models.Catalogue
@{
    ViewData["Title"] = "Access requested";
}

@section styles{
    <link rel="stylesheet" type="text/css" href="~/css/nhsuk/pages/catalogue.css" asp-append-version="true" />
}

<div>
    <div class="nhsuk-width-container app-width-container">
        <vc:back-link asp-controller="Catalogue" asp-action="@Model.CatalogueUrl" link-text="Back to: @Model.CatalogueName" />
        <h1>Access requested</h1>

        <p>Your request to access this cataloque has seen sent to the cataloque administrator.</p>

        <h2>What happens next?</h2>
        <p>The catalogue administrator will review your request and you will be notified of their decision by email.</p>

        <a class="nhsuk-button" asp-controller="Catalogue" asp-action="@Model.CatalogueUrl">Back to catalogue</a>
    </div>
</div>